# https://conda.io/miniconda.html
pandas
kivy  # follow instructions found here: https://kivy.org/docs/installation/installation-windows.html
matplotlib
soundfile
numpy
scipy # maybe


# for analysis:
json
scikit-image
